body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background-color: white;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}

header {
  background-size: cover;
  position: relative;
  background-image: url("https://elitecars-html.asdesignsgalaxy.com/assets/images/PageTitle/PageTitle.jpg");
  height: 100%;
}

.intro {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
  border-bottom: 2px solid white;
}

.header-lng {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header-lng i {
  margin-right: 5px;
}

.header-lng a {
  margin-right: 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-lng a:hover {
  color: rgb(201, 38, 38);
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #c7a17a;
}

.social-icons .instagram:hover {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-icons .facebook:hover {
  color: #1da1f2;
}
.social-icons .twitter:hover {
  color: #1da1f2;
}

.social-icons .linkedin:hover {
  color: #0a78b5;
}

/* Logo */
.navigationlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 50px; /* Adjust as needed */
  margin-right: 15px;
}

.logo-name h3 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}

.logo-name span {
  color: red;
  margin-right: 5px;
}

.logo-name p {
  margin: 0;
  font-size: 15px;
  color: #ffffff;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease;
  padding: 10px 10px;
}

.navigation a:hover {
  color: red;
}

/*intro-info*/

.intro-info {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.intro-content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  padding: 0 20px;
  margin: 50px 100px;
  color: #ffffff;
}

.intro-text {
  max-width: 500px;
}

.intro-tittle {
  margin: 0 0 20px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
}

.intro-text {
  margin: 0 0 35px;
  font-size: 18px;
  font-weight: 400;
  color: #dfdfdf;
}

.intro-actions {
  min-width: 150px;
  height: 50px;
  display: flex;
  gap: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  text-transform: uppercase;
  border-radius: 10px;
}
.fa-house-chimney {
  color: #ffffff;
  font-size: 20px;
  margin-left: 10px;
}

.btn-main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.btn-main:hover {
  color: black;
}
.btn {
  min-width: 150px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-rent-car {
  background-color: red;
}

.btn-main:hover {
  background-color: rgb(88, 1, 1);
}

.fa-angle-right {
  color: #ffffff;
  font-size: 20px;
}
.btn-self {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  padding-right: 10px;
}
/* .btn {
  min-width: 150px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-main {
  background-color: red;
}

.btn-main:hover {
  background-color: rgb(88, 1, 1);
}

.btn-secondary {
  border: 1px solid rgb(110, 41, 41);
}

.btn-secondary:hover {
  background-color: rgb(69, 13, 13);
} */

footer {
  padding-top: 80px;
  border-top: 2px red solid;
  background-color: black;
  border-bottom: 4px solid red;
}

.footer-wrapper {
  display: flex;
  margin-bottom: 20px;
  margin-left: 50px;
}
.footer-wrapper a {
  color: white;
}

.footer-block {
  width: 33.33%;
}
.footer-block .navigation {
  flex-direction: column;
  align-items: flex-start;
}
.footer-block .logo-name h3 {
  margin: 0;
  font-size: 24px;
  color: white;
}
.footer-block p {
  margin-top: 20px;
  margin-right: 30px;
  font-size: 15px;
  color: white;
}
.footer-block .logo-name p {
  margin: 0;
  font-size: 15px;
  color: white;
}
