body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background-color: white;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}

/* gallery */
.gallery {
  column-count: 5;
  width: 100%;
  margin: 10px;
}

.item {
  width: 100%; /* Ширина элемента будет 100% от ширины колонки */
}

.item img {
  width: 100%; /* Изображение занимает всю ширину элемента */
  height: auto; /* Высота изображения устанавливается автоматически */
  display: block;
  object-fit: cover; /* Устанавливает как изображение будет вписываться в контейнер */
}

.item:hover img {
  transform: scale(1.1); /* Збільшення при наведенні */
}

@media (max-width: 768px) {
  .item {
    width: calc(50%); /* два фото в ряд на менших екранах */
  }
}

@media (max-width: 480px) {
  .item {
    width: 100%; /* одне фото в ряд на дуже маленьких екранах */
  }
}
